<li>
  <span class="sujet"><%= anecdote.sujet %></span>
  <span class="text"><%= anecdote.text %></span>
  <span class="theme"><%= anecdote.theme %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(anecdote.created_at) %> ago.
  </span>
</li>
