<h1>
  <%= current_user.name %>
</h1>
<span>
  <%= link_to "view my profile", current_user %>
</span>
<span>
  <%= pluralize(current_user.persones.count, "persone") %>
</span>
<span>
  <%= pluralize(current_user.anecdotes.count, "anecdote") %>
</span>
